<h2>Recommendations and Requirements</h2>
<table>
	<tr>
		<td>
			<strong>Sociability change during eval</strong>
		</td>
		<td>
			<label class="radiolabel"> 
				<input type="radio" ng-model="data.output.recommendations.sociabilitychanged" value="better" /> 
				Better
			</label> 
			<label class="radiolabel"> 
				<input type="radio" ng-model="data.output.recommendations.sociabilitychanged" value="worse" /> 
				Worse
			</label>
			<label class="radiolabel"> 
				<input type="radio" ng-model="data.output.recommendations.sociabilitychanged" value="same" /> 
				Same
			</label>
		</td>
		<td>
			<input id="sociabilityChangeComments" ng-model="data.output.recommendations.sociabilitycomments"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Walker</strong>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.recommendations.walker"
				output-model="data.output.recommendations.walker" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<input id="walkerRecommendationNotes" ng-model="data.output.recommendations.walkercomments"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Kids</strong>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.recommendations.kids"
				output-model="data.output.recommendations.kids" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<input id="kidsRecommendationNotes" ng-model="data.output.recommendations.kidscomments"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Personality</strong>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.recommendations.personality"
				output-model="data.output.recommendations.personality" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<input id="personalityRecommendationNotes" ng-model="data.output.recommendations.personalitycomments"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Household</strong>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.recommendations.household"
				output-model="data.output.recommendations.household" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<input id="householdRecommendationNotes" ng-model="data.output.recommendations.householdcomments"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Counseling/Waivers</strong>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.recommendations.waivers"
				output-model="data.output.recommendations.waivers" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<input id="waiversRecommendationNotes" ng-model="data.output.recommendations.waiverscomments"/>
		</td>
	</tr>
</table>
<div>
	<label>Comments</label><br />
	<textarea id="recommendationComments" rows="{{form.commentHeight}}"
		cols="{{form.commentWidth}}" ng-model="data.output.recommendations.comments">
	</textarea>
</div>

<button ng-click="form.submit()">Submit</button>
