<h2>Resources</h2>
<h3>Treats</h3>
<table>
	<tr>
		<td>
			<label>Taking treats</label>
			<div isteven-multi-select input-model="data.input.resources.treats.takingtreatsbehaviors"
				output-model="data.output.resources.treats.takingtreatsbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.treats.takingtreatsbehaviors)" >
			<label>Other: </label>
			<input id="takingtreatsbehaviorother" ng-model="data.output.resources.treats.takingtreatsbehaviorother" />
		</td>
		<td>
			<label>Treats used</label>
			<div isteven-multi-select input-model="data.input.resources.treats.treatsused"
				output-model="data.output.resources.treats.treatsused" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.treats.treatsused)" >
			<label>Other: </label>
			<input id="treatsusedbehaviorother" ng-model="data.output.resources.treats.treatsusedbehaviorother"/>
		<td>
			<label>Commands</label>
			<div isteven-multi-select input-model="data.input.resources.treats.commands"
				output-model="data.output.resources.treats.commands" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.treats.commands)" >
			<label>Other: </label>
			<input id="commandsbehaviorother" ng-model="data.output.resources.treats.commandsbehaviorother"/>
		</td>
	</tr>
</table>
<h3>Toy</h3>
<table>
	<tr>
		<td>
			<label>Toy used</label>
		</td>
		<td>
			<input ng-model="data.output.resources.toys.used1" id="toyused1" />
		</td>
		<td>
			<input ng-model="data.output.resources.toys.used2" id="toyused2" />
		</td>
	</tr>
	<tr>
		<td>
			<label>Hand</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.toys.hands"
				output-model="data.output.resources.toys.hands" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Interest</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.toys.interest"
				output-model="data.output.resources.toys.interest" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.toys.toysbehavior"
				output-model="data.output.resources.toys.behavior" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.toys.behavior)" >
			<label>Other: </label>
			<input id="toysbehaviorother" ng-model="data.output.resources.toys.behaviorother"/>
		</td>
	</tr>
</table>
<h3>Bone</h3>
<table>
	<tr>
		<td>
			<label>Bone used</label>
		</td>
		<td>
			<input ng-model="data.output.resources.bones.used1" id="boneused1" />
		</td>
		<td>
			<input ng-model="data.output.resources.bones.used2" id="boneused2" />
		</td>
	</tr>
	<tr>
		<td>
			<label>Hand</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.bones.hands"
				output-model="data.output.resources.bones.hands" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Interest</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.bones.interest"
				output-model="data.output.resources.bones.interest" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.bones.bonesbehavior"
				output-model="data.output.resources.bones.behavior" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.bones.behavior)" >
			<label>Other: </label>
			<input id="bonesbehaviorother" ng-model="data.output.resources.bones.behaviorother"/>
		</td>
	</tr>
</table>
<h3>Food</h3>
<table>
	<tr>
		<td><strong>Treats used to coax dog</strong></td>
		<td>
			<label class="radiolabel">
				<input type="radio" ng-model="data.output.resources.food.coax" value="true" /> 
				Yes
			</label> 
			<label class="radiolabel"> 
				<input type="radio" ng-model="data.output.resources.food.coax" value="false" /> 
				No
			</label>
		</td>
		<td>
			<label>Hand</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.hands"
				output-model="data.output.resources.food.hands" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Interest</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.interest"
				output-model="data.output.resources.food.interest" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Initial Delivery Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.delivery"
				output-model="data.output.resources.food.delivery" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.food.delivery)" >
			<label>Other: </label>
			<input id="foodinitdeliverybehaviorother" ng-model="data.output.resources.food.foodinitdeliverybehaviorother"/>
		</td>
	</tr>
	<tr>
		<td>
			<label>Initial Approach Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.initialapproach"
				output-model="data.output.resources.food.initialapproach" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.food.initialapproach)" >
			<label>Other: </label>
			<input id="initialapproachother" ng-model="data.output.resources.food.initialapproachother"/>
		</td>
	</tr>
	<tr>
		<td>
			<label>Touch Dog Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.touchdog"
				output-model="data.output.resources.food.touchdog" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.food.touchdog)" >
			<label>Other: </label>
			<input id="touchdogother" ng-model="data.output.resources.food.touchdogother"/>
		</td>
	</tr>
	<tr>
		<td>
			<label>Touch Bowl Behaviors</label>
		</td>
		<td>
			<div isteven-multi-select input-model="data.input.resources.food.touchbowl"
				output-model="data.output.resources.food.touchbowl" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.resources.food.touchbowl)" >
			<label>Other: </label>
			<input id="touchbowlother" ng-model="data.output.resources.food.touchbowlother"/>
		</td>
	</tr>
</table>
<label>Resources comments</label>
<br />
<textarea id="resourcesBehaviorComments" rows="{{form.commentHeight}}"
	cols="{{form.commentWidth}}" ng-model="data.output.resources.comments">
</textarea>