<h2>Noises</h2>
<h3>Loud noise</h3>
<table>
	<tr>
		<td>
			<label>Initial Reaction</label>
			<div isteven-multi-select input-model="data.input.noises.initialloudnoise"
				output-model="data.output.noises.initialloudnoise" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.initialloudnoise)" >
			<label>Other: </label>
			<input id="initialloudnoiseother" ng-model="data.output.noises.initialloudnoiseother"/>
		</td>
		<td>
			<label>Recovery</label>
			<div isteven-multi-select input-model="data.input.noises.recoverloudnoise"
				output-model="data.output.noises.recoverloudnoise" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.recoverloudnoise)" >
			<label>Other: </label>
			<input id="recoverloudnoiseother" ng-model="data.output.noises.recoverloudnoiseother"/>
	</tr>
</table>
<h3>Scolding</h3>
<table>
	<tr>
		<td>
			<label>Initial Reaction</label>
			<div isteven-multi-select input-model="data.input.noises.initialscold"
				output-model="data.output.noises.initialscold" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.initialscold)" >
			<label>Other: </label>
			<input id="initialscoldother" ng-model="data.output.noises.initialscoldother"/>
		</td>
		<td>
			<label>Recovery</label>
			<div isteven-multi-select input-model="data.input.noises.recoverscold"
				output-model="data.output.noises.recoverscold" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.recoverscold)" >
			<label>Other: </label>
			<input id="recoverscoldother" ng-model="data.output.noises.recoverscoldother"/>
		</td>
	</tr>
</table>
<h3>Door</h3>
<table>
	<tr>
		<td>
			<label>Knock At Door</label>
			<div isteven-multi-select input-model="data.input.noises.initialknockatdoor"
				output-model="data.output.noises.initialknockatdoor" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.initialknockatdoor)" >
			<label>Other: </label>
			<input id="initialknockatdoorother" ng-model="data.output.noises.initialknockatdoorother"/>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Stranger</strong>
			<label class="radiolabel">
				<input type="radio" ng-model="data.output.noises.strangergender" value="male" /> 
				Male
			</label> 
			<label class="radiolabel"> 
				<input type="radio" ng-model="data.output.noises.strangergender" value="female" /> 
				Female
			</label>
		</td>
		<td>
			<label>Initial Reaction</label>
			<div isteven-multi-select input-model="data.input.noises.initialstranger"
				output-model="data.output.noises.initialstranger" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.initialstranger)" >
			<label>Other: </label>
			<input id="initialstrangerother" ng-model="data.output.noises.initialstrangerother"/>
		</td>
		<td>
			<label>Recovery</label>
			<div isteven-multi-select input-model="data.input.noises.recoverstranger"
				output-model="data.output.noises.recoverstranger" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td ng-show="form.containsOther(data.output.noises.recoverstranger)" >
			<label>Other: </label>
			<input id="recoverstrangerother" ng-model="data.output.noises.recoverstrangerother"/>
		</td>
	</tr>
</table>
<label>Noises comments</label>
<br />
<textarea id="noisesComments" rows="{{form.commentHeight}}"
	cols="{{form.commentWidth}}" ng-model="data.output.noises.comment">
</textarea>